<div id="index-banner" class="parallax-container">
       <div class="section no-pad-bot">
         <div class="container">
           <h1 class="header center white-text text-darken-2">Learning, made simple.</h1>
           <div class="row center">
             <h5 class="header col s12 white-text light">Take language, computer science or math lessons in a simple, effective environment.</h5>
           </div>
           <div class="row center">
             <a href="/classes" class="btn-large waves-effect waves blue hide-on-small-only">Get Started</a>
           </div>
         </div>
       </div>
       <div class="parallax"><img src="http://www.anje.pt/system/media/images/3040/content_with/capa_elearning.png?1531999019"></div>
     </div>
     <div class="container">
       <div class="section">
         <div class="row">
           <div class="col s12 m4">
             <div class="icon-block">
               <h1 class="center blue-text text-darken-2"><i class="medium material-icons">code</i></h1>
               <h4 class="center">Learn to code</h4>
               <p class="light flow-text">Take classes from our experts to learn anything you need, from web design to game programming and software engineering.</p>
             </div>
           </div>
           <div class="col s12 m4">
             <div class="icon-block">
               <h1 class="center blue-text text-darken-2"><i class="medium material-icons">business_center</i></h1>
               <h4 class="center">Learn business</h4>
               <p class="light flow-text">Take classes from the masters of business management and learn how to take your idea into a profitable and respectful enterprise.</p>
             </div>
           </div>
           <div class="col s12 m4">
             <div class="icon-block">
               <h1 class="center blue-text text-darken-2"><i class="medium material-icons">language</i></h1>
               <h4 class="center">Learn languages</h4>
               <p class="light flow-text">Learn English, Portuguese and many other languages through our classes, making yourself a valuable asset that many employers will want.</p>
             </div>
           </div>
         </div>
       </div>
     </div>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container" id="bottomparallax">
          <h1 class="header center white-text text-darken-2">We focus on you.</h1>
          <div class="row center">
            <h5 class="header col s12 white-text light">Our design makes it so the experience is completely focused on you and on what you need.</h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="img/business.jpg">
      </div>
    </div>
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h1 class="blue-text text-darken-2"><i class="material-icons medium">contacts</i></h1>
            <h3>Contact us</h3>
            <p class="light left-align flow-text">If you have any questions about the services we provide, contact us.<br> Email: <small>home@learnify.com</small><br> You can get more information from our social media:<br>Twitter: <small>@learnifyonline</small>;<br>Instagram <small>@learnifypt</small>;<br>Facebook: <small>"Learnify Portugal"</small>.</p>
          </div>
        </div>
      </div>
    </div>