.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#bottomparallax {
  padding-top: 40px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media (max-width: 980px) {
  #topparallax{
    min-height: 450px;
  }
}

.error {
  padding: 5px;
  border: rgb(255, 0, 0) dotted 1px;
  margin-bottom: 15px;
}